/** @format */

hero-image-skeleton {
  height: 350px;
  background-color: #e3e3e3;
  display: grid;
  justify-content: center;
  align-items: center;
  line-height: 1.5em;
  font-size: 18pt;

  .hero__text {
    display: grid;
    gap: 10px;
    text-align: center;

    p {
      background-color: white;
      color: white;
    }
  }
}

@media screen and (min-width: 768px) {
  hero-image-skeleton {
    height: 400px;
  }
}

@media screen and (min-width: 1024px) {
  hero-image-skeleton {
    height: 500px;
  }
}
