/** @format */
$color__primary: #483a36;

restaurant-item {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 12pt;
  background-color: white;

  .heading {
    position: relative;
    height: 200px;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      height: 100%;
    }

    .city {
      position: absolute;
      top: 8px;
      left: 16px;
      border-radius: 5px;
      background-color: $color__primary;
      padding: 5px 10px 5px;
      color: white;
      font-weight: 500;
    }
  }

  .body {
    padding: 20px 20px 0 20px;
    display: grid;

    .rating {
      font-weight: bold;
      font-size: 0.825em;
      color: $color__primary;
      padding-bottom: 1rem;
      padding-top: 0.2em;
    }
    .name {
      font-weight: bold;
      font-size: 1.5em;
    }

    .description {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-height: 1.5em;
      font-size: 0.875rem;
    }
  }

  .actions {
    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-width: 44px;
      min-height: 44px;
      text-decoration: none;
      color: $color__primary;
      margin-left: 20px;
      margin-bottom: 10px;
      font-size: 14pt;
    }

    a:hover {
      font-weight: bold;
    }
  }
}
