/** @format */

restaurant-list {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  restaurant-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  restaurant-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  restaurant-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
